<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDlLWqznMnnuioza0QULsuz5hi6Ad5-TdM</string>
	<key>GCM_SENDER_ID</key>
	<string>550429868908</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pathWayFlu</string>
	<key>PROJECT_ID</key>
	<string>pathway-b9fb3</string>
	<key>STORAGE_BUCKET</key>
	<string>pathway-b9fb3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:550429868908:ios:8c2295712c94f3f834e949</string>
</dict>
</plist>